.left-side {
  @media (max-width: 969px) {
    display: none;
  }

  &__menu {
    margin: 0 0 215px 0;
  }

  &__item {
    margin: 0 0 69px 0;
    position: relative;
  }

  &__button {
    color: $maintextcolor;
    transition: 0.3s;
    padding-left: 38px;
    position: relative;
    background: transparent;
    &:hover:not(.active-point) {
      color: $maintextcolorhover;
      padding: 0 0 0 40px;
    }
    &_exit:hover {
      color: red;
    }
  }
  &__icon {
    position: absolute;
    left: 0;
    top: 0;
  }
}
