.left-side {
  position: relative;

  @media (max-width: 969px) {
    display: none;
  }

  nav {
    position: sticky;
    left: 0;
    top: 0;
  }

  &__menu {
    padding: 35px 0 0 100px;
    margin: -35px 0 0 -100px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    & > *:nth-child(9) {
      margin: 215px 0 0 0;
    }
    @media (max-height: 1000px) {
      height: calc(100vh - 170px);
    }
  }

  &__item {
    margin: 0 0 69px 0;
    position: relative;
  }

  &__button {
    color: $maintextcolor;
    transition: 0.3s;
    padding-left: 38px;
    position: relative;
    background: transparent;
    &:hover:not(.active-point) {
      color: $maintextcolorhover;
      padding: 0 0 0 40px;
    }
    &_exit:hover {
      color: red;
    }
  }
  &__icon {
    position: absolute;
    left: 0;
    top: 0;
  }
}
